@charset "UTF-8";
/* CSS Document */

a {
	text-decoration: none;
}

body {
	margin: 0px;
	font-family: Helvetica, Arial;
	font-size: 12px;
}


#bg {
	float: right;
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('images/bg2.jpg') top right no-repeat;

}

.logo_top {
	position: absolute;
	float: left;
	font-size: 20px;
	font-family: Kotta One;
	padding-left: 15px;
	padding-top: 10px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0 2px #4E6A86;
	cursor: pointer;
}

.top_nav {
	position: absolute;
	top: 0px;
	height: 40px;
	width: 100%;
	background-color: #A1B3C3;
	box-shadow: 0 2px 8px #555;
}

.top_nav .topmenus {
	position: relative;
	float: right;
	margin-right: 10px;
}

.top_nav ul {
	list-style: none;
	margin: 0;
}

.top_nav ul li {
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
	float: right;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.top_nav ul li:hover {
	background-color: #728293;
	box-shadow: inset 0px 1px 5px 1px #4E5B6B;
}

#notification_main {
	float: left;
	display: none;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #C00;
	border: 1px solid #C00;
	position: absolute;
	top: 45px;
	width: 100%;
	padding: 10px;
	height: 25px;
	background-color: #FFE7A5;
	z-index: 5;
}

#notification_main.success {
	background-color: #E4F2E0;
	color: #4F985B;
	border: 1px solid #4F985B;
}

.main_layout {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
}

/* Center layout with one panel */
.main_center {
	position: relative;
	text-align: center;
	top: 100px;
}

/* Two panels: left */
.main_left {
	position: absolute;
	float: left;
	width: 300px;
	top: 10px;
}

.main_right {
	position: absolute;
	float: left;
	left: 300px;
}

.main_right .srchbox {
	position: relative;
	
}

.main_right .itemList {
	position: relative;
	top: -10px;
}

#logotitle {
	font-family: Kotta One;
	font-size: 55px;
	text-shadow: 0 2px 0 #fff;
	color: #455F7B;
	font-weight: bold;
	cursor: pointer;
}

#logoheader {
	font-weight: 100;
	font-family: Helvetica, Arial;
	font-size: 18px;
	color: #455F7B;
}

.t1 {
	position: relative;
	display: inline-block;
}


.t2 {
	position: relative;
	top: 3px;
	display: inline-block;
}

.t2 .ui-input-text{
	width: 250px;
}

.t2 .ui-corner-all{
	-webkit-border-radius:0em;border-radius:0em;
}

.t3 {
	position: relative;
	top: 4px;
	display: inline-block;
}

.t3 a.ui-btn-corner-all{
	-webkit-border-radius:0em;border-radius:0em;
	height: 35px;
}

/* search box styles (browse.php) */
.srchbox {
	position: absolute;
	top: -13px;
	text-align: left;
}

.srchbox #category {
	display: inline-block;
	text-align: left;
}

.srchbox #textinput {
	text-align: left;
	display: inline-block;
	top: 3px;
	
}

.srchbox #textinput a.ui-btn-corner-all {
	display: inline-block;
	margin-left: 5px;
	height: 35px;
	width: 100px;
}

/*
input#keyword {
	color: #aaa;
}
*/

/* */
.moreBtn {
	float: right;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #fff;
	text-shadow: 0px 1px 1px #000;
	position: relative;
	top: 25px;
	right: 5px;
}

.moreBtn:hover {
	background-color: #768696;
	cursor: pointer;
}

/* most- list styles */
.mostList {
	position: relative;
	display: inline-block;
	width: 220px;
	padding-left: 3px;
	padding-right: 3px;
}

.mostList ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mostList ul li {
	height: 20px;
	background-color: #EBEBEB;
	text-align: left;
	color: #000;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
}

.mostList ul li:hover {
	background-color: #dfdfdf;
	text-shadow: 0 1px 0 #fff;
	color: #000;
}

.mostList .mostListHeader {
	text-align: left;
	height: 22px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 1px 2px 0 #000;
	display: inline-block;
	width: 205px;
	background-color: #455F7B;
	border-bottom: solid 1px #fff;
	padding-top: 7px;
	padding-left: 15px;
}

.tagList {
	margin-top: 10px;
	text-align: left;
	position: relative;
	display: inline-block;
	width: 449px;
	background-color: #EBEBEB;
	border: solid 1px #ccc;
}

.tagList .tagListHeader {
	text-align: left;
	height: 22px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 1px 2px 0 #000;
	display: inline-block;
	width: 434px;
	background-color: #455F7B;
	border-bottom: solid 1px #fff;
	padding-top: 7px;
	padding-left: 15px;
}

/* search category section styles */
.catList {
	position: relative;
	display: inline-block;
	width: 265px;
	height: 130px;
	padding-left: 3px;
	padding-right: 3px;
}

.catList ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.catList ul li {
	height: 20px;
	background-color: rgba(245,245,245,0.9);
	text-align: left;
	color: #000;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px #ddd;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	cursor: pointer;
}

.catList ul li:hover {
	background-color: rgba(225,225,225,0.9);
	text-shadow: 0 1px 0 #fff;
	color: #000;
}

.catList ul li.subGenre {
	background-color: rgba(255,255,255,0.95);
	text-align: left;
	color: #000;
	padding-left: 30px;
	display: none;
}

.catList ul li.subGenre:hover {
	background-color: rgba(225,225,225,0.95);
}

.catList ul li.subComposer {
	background-color: rgba(255,255,255,0.95);
	text-align: left;
	color: #000;
	padding-left: 30px;
	display: none;
}

.catList ul li.subComposer:hover {
	background-color: rgba(225,225,225,0.95);
}

.catList ul li.subComposeYear {
	background-color: rgba(255,255,255,0.95);
	text-align: left;
	color: #000;
	padding-left: 30px;
	display: none;
}

.catList ul li.subComposeYear:hover {
	background-color: rgba(225,225,225,0.95);
}

.catList ul li.subPublishYear {
	background-color: rgba(255,255,255,0.95);
	text-align: left;
	color: #000;
	padding-left: 30px;
	display: none;
}

.catList ul li.subPublishYear:hover {
	background-color: rgba(225,225,225,0.95);
}

.catList ul li.subInstrumentation {
	background-color: rgba(255,255,255,0.95);
	text-align: left;
	color: #000;
	padding-left: 30px;
	display: none;
}

.catList ul li.subInstrumentation:hover {
	background-color: rgba(225,225,225,0.95);;
}

.catList .catListHeader {
	text-align: left;
	height: 22px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 1px 2px 0 #000;
	display: inline-block;
	width: 250px;
	background-color: #455F7B;
	border-bottom: solid 1px #fff;
	padding-top: 7px;
	padding-left: 15px;
}

/* Login window */
#loginWindow {
	position: absolute;
	display: none;
	padding: 5px;
	top: 39px;
	right: 77px;
	background-color: rgba(255,255,255,1);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #A1B3C3;
	width: 144px;
	text-align: center;
	height: 25px;
	z-index: 2;

}

#loginWindow #formComponents {
	width: 100%;
	height: 100%;
}

#loginWindowN {
	position: absolute;
	display: none;
	padding: 5px;
	top: 39px;
	right: 56px;
	background-color: rgba(255,255,255,1);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #A1B3C3;
	width: 250px;
	text-align: center;
	height: 160px;
	z-index: 2;

}

#loginWindowN #formComponentsN {
	width: 100%;
	height: 100%;
}

#signUp {
	position: absolute;
	top: 100px;
	display: none;
	float: left;
	padding: 10px;
	width: 400px;
	height: 400px;
	z-index: 3;
}

#signUp_header {
	position: relative;
	font-size: 36px;
	color: #ffffff;
	text-shadow: 0 1px 0 #000;
	width: 100%;
	height: 80px;
	padding: 10px;
	background-color: #728293;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index:5;
}

#signUp_body {
	position: relative;
	text-align: center;
	width: 398px;
	top: -100px;
	height: 235px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 102px;
	padding-bottom: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	border: solid 1px #728293;
	box-shadow: 0 3px 10px 2px #333333;
}

#signUp_body #notifier {
	display: none;
	width: 388px;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	color: #C00;
	text-align: center;
	background-color: #FFE7A5;
	border: 1px solid #C00;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	
}

.scoreEntity {
	width: 99%;
	height: 180px;
	background-color: rgba(245,245,245,0.8);
	display: block;
	margin-top: 5px;
	border: solid 1px #cccccc;
	cursor: pointer;
}

.scoreEntity .figures {
	display: inline;
	position: relative;
	float: right;
	right: 120px;
	top: 144px;
	width: 0px;
	height: 0px;
}

.scoreEntity:hover {
	background-color: rgba(225,225,225,0.8);
}

.scoreEntity .albumArt {
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	
}

.textInfo {
	position: relative;
	text-align: left;
	left: 15px;
	top: 10px;
	width: 70%;
	height: 130px;
	
}

.textInfo .title {
	font-size: 18px;
	color: #455F7B;
	font-weight: bold;
	line-height: 25px;
}

.textInfo .key {
	display: inline-block;
	width: 120px;
	color: #455F7B;
	line-height: 18px;
}

.textInfo .value {
	line-height: 18px;
}

.genres {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dfdfdf;
	margin-right: 5px;
	cursor: pointer;
}
.genres:hover {
	background-color: #cfcfcf;
}

.tags {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dfdfdf;
	margin: 5px;
	cursor: pointer;
}
.tags:hover {
	background-color: #cfcfcf;
}

/* view.php */
.scoreDetail {
	padding-top: 8px;
	padding-bottom: 5px;
	margin-top: 5px;
	text-align: left;
	width: 99%;
	background-color: rgba(245,245,245,0.8);
	display: block;
	border: solid 1px #cccccc;
}

.actions {
	position: relative;
	float:right;
	top: -10px;
	right: 5px;
	font-size: 12px;
}

.actions span {
	color: #000;
	display: inline-block;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 3px;
	background-color: #e7e7e7;
	border: 1px solid #455F7B;
	margin-right: 5px;
	line-height: 20px;
	cursor: pointer;
}

.actions span:hover {
	background-color: #d7d7d7;
}

.actions span#download.inDispute {
	background-color: #980808;
	opacity: 0.8;
	text-shadow: none;
	color: #fff;
	cursor: default;
}

.actions span#like.liked {
	background-color: #003366;
	opacity: 0.9;
	text-shadow: none;
	color: #fff;
	cursor: default;
}

.actions span#addToList.added {
	background-color: #003366;
	opacity: 0.9;
	text-shadow: none;
	color: #fff;
	cursor: default;
}

.actions span#flag {
	border: 1px solid #980808;
}

.detailTitle {
	text-align: left;
	font-size: 23px;
	font-weight: bold;
	color: #455F7B;
	text-shadow: 1px 2px 0 #FFFFFF;
	line-weight: 25px;
	border: 0;
	background: none;
	cursor: default;
	margin-bottom: 10px;
}

.scoreDetail .subTitle {
	font-size: 20px;
	margin-left: 12px;
	color: #455F7B;
	border: 0;
}

.actions {
	float: right;
}

.scoreDetail .txt {
	position: relative;
	text-align: left;
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.scoreDetail .txt .key {
	display: inline-block;
	text-align: left;
	width: 100px;
	color: #455F7B;
	line-height: 20px;
	padding-left: 10px;
	border: 0;

}

.scoreDetail .txt .value {
	line-height: 20px;
	border: 0;

}

.commentArea .msgItem {
	display: inline-block;
	width: 100%;
}


.commentArea .name {
	color: #455F7B;
	display: inline-block;
	line-height: 18px;
	padding-left: 10px;
}

.commentArea .msg {
	display: inline-block;
	line-height: 18px;
}

.commentArea .time {
	color: #aeaeae;
	display: inline-block;
	width: 130px;
	margin-left: 5px;
	font-size: 11px;
	line-height: 18px;
}

.commentArea .revoke {
	color: #455F7B;
	display: inline-block;
	line-height: 18px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 10px;
	background-color: #DFDFDF;
	cursor: pointer;
}

.commentArea .revoke:hover {
	background-color: #cfcfcf;
}

#scoreimg {
	float: right;
	position: relative;
	width: 190px;
	height: 190px;
	top: -20px;
	margin-right: 10px;
	background-color: #999;
}

.flagItContainer {
	display: none;
	position: relative;
	width: 0;
	height: 0;
	width: 500px;
	float: left;
	top: 100px;
	z-index: 6;
	font-size: 12px;
}

.flagItHeader {
	position: relative;
	font-size: 24px;
	color: #ffffff;
	text-shadow: 0 1px 0 #000;
	width: 100%;
	height: 30px;
	padding: 11px;
	background-color: #728293;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index:5;
}

.flagIt {
	position: relative;
	font-size: 12px;
	text-align: center;
	width: 100%;
	height: 310px;
	top: -50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 60px;
	padding-bottom: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	border: solid 1px #728293;
	box-shadow: 0 3px 10px 2px #333333;
}

.flagIt .warning {
	font-size: 14px;
	color: #000;
	line-height: 18px;
	font-weight: normal;
}

textarea {
	border-radius: 10px;
	border: 1px solid #a7a7a7;
}

.totalCounter {
	display: block;
	color: #455F7B;
	font-size: 13px;
	margin-top: 10px;
	position: relative;
}

.catList ul li .feeds {
	text-decoration: underline; 
	font-style:italic
	font-weight:bold;
}
.main_right .myPage {
	width: 800px;
	height: 180px;
	top: 0px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	background-color: rgba(245,245,245,0.8);
	display: block;
	border: solid 1px #cccccc;
}
.myPageTitle {
	text-align: left;
	padding-top:10px;
	margin-left:10px;
	font-size: 26px;
	font-weight: bold;
	color: #455F7B;
	text-shadow: 1px 2px 0 #FFFFFF;
	line-weight: 25px;
	border: 0;
	background: none;
	cursor: default;
}
.myScore {
    margin:10px;
    padding:10px;
    font-size:14px;
    font-weight:bodl;
    width:150px;
    float: left;
	position: relative;
	background-color: rgba(245,245,245, 1.0);
	border: solid 1px #cccccc;
	color:#696969;
    }
.number {
    float:right;
    padding:5px;
    margin-top:10px;
    margin-right:10px;
    font-size: 30px;
	font-weight: bold;
	color: #7397b9;
	text-shadow: 0 1px 0 #cacbcc;
    }
#profileImg {
	float: left;
	position: relative;
	width: 177px;
	height: 177px;
	margin-right: 10px;
	background-color: #999;
	background:url('images/profile.jpg') no-repeat;
}

.myUpload {
	width: 800px;
	height: 120px;
	margin-bottom:10px;
	margin-left: 10px;
	padding-right:20px;
	text-align: left;
	background-color: rgba(245,245,245,0.8);
	display: block;
	border: solid 1px #cccccc;
}

.myUpload ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.myUpload ul li {
	height: 20px;
	text-align: left;
	color: #000;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.myUpload ul li:hover {
	background-color: rgba(225,225,225,0.9);
	text-shadow: 0 1px 0 #fff;
	width:805px;
	color: #000;
}

.myUpload ul li .feeds{
	text-align: left;
	padding-left:10px;
	color: grey;
}
.myUpload ul li .edit{
	text-align: right;
	padding-left:10px;
	color: #7397b9;
}
.myUpload .myUploadHeader {
	text-align: left;
	height: 22px;
	font-size: 14px;
	font-weight: bold;
	color: #303030;
	display: inline-block;
	width: 805px;
	background-color: rgba(225,225,225,0.9);
	border-bottom: solid 1px #fff;
	padding-top: 7px;
	padding-left: 15px;
}
.myUpload .more {
    text-align: right;
    color:#7397b9;
    font-size: 10px;
    font-weight:light;
    padding-left:10px;
    }
    
.about {
	width: 1000px;
	height: 650px;
	padding: 10px auto;
	margin: 10px auto;
	text-align: left;
	background-color: rgba(245,245,245,0.8);
	display: block;
	border: solid 1px #cccccc;
	font-size: 18px;
	color: #808080;
}

.aboutHeader {
    margin-top:20px;
    margin-left:30px;
    font-size: 30px;
	font-weight: bold;
	color: #7397b9;
	text-shadow: 0 1px 0 #cacbcc;
    }
.aboutPra {
    top:-30px;
    padding:20px;
    margin:10px;
    }
.aboutImg {
    margin-top:-20px;
    padding-left:15px;
    padding-right:15px;
    margin-left:15px;
    margin-right:15px;
    float:left;
    font-size:16px;
}
	
.friend {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dfdfdf;
	margin-right: 5px;
	cursor: pointer;
}

.friend:hover {
	background-color: #cfcfcf;
}

.friendProfileContainer {
	position: relative;
	display: none;
	float: left;
	left: 160px;
	top: -200px;
	width: 0;
	height: 0;
}

.friendProfile {
	display: inline-block;
	width: 173px;
	height: 203px;
	border: 1px solid #bcbcbc;
	position: relative;
	background: rgba(255,255,255,0.9);
}

.friendProfile .name {
	float: left;
	color: #ffffff;
	text-shadow: 1px 1px 2px #000000;
	font-size: 16px;
	position: relative;
	display: inline-block;
	padding-left: 10px;
	top: -30px;
}

.friendProfile .buttonArea {
	position: relative;
	width: 173px;
	top: -18px;
}

.friendProfile .buttonArea ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.friendProfile .buttonArea ul li {
	display: inline-block;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #dadada;
	cursor: pointer;
}

.friendProfile .buttonArea ul li.myself {
	color: #999999;
	cursor: default;
}

.friendProfile .buttonArea ul li.myself:hover {
	background-color: #dadada;
}

.friendProfile .buttonArea ul li:hover {
	background-color: #cfcfcf;
}

.friendProfile .buttonArea ul li#isFriend {
	width: 100px;
}

.friendProfile .buttonArea ul li#isFriend.already {
	background-color: #009A00;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
}

.friendProfile .buttonArea ul li#isFriend.already:hover {
	background-color: #9A0000;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
}

.friendProfile .buttonArea ul li#close {
	width: 50px;
}